body {
  height: 100vh;
  background-color: #e34234;
}
#title {
  font-size: 50px;
  font-family: "Rock Salt";
  font-style: underline;
}
#sessionLength{
  font-family: helvetica;
  padding-top: 25px;

}
#time, #breakTime {
  font-size: 70px;
  height: 50%;
  border: 1px solid white;
  width: 200px;
margin: 0 auto;
}
.col-lg-12 {
  color: white;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}

#startClock, #addTime, #subTime, #resetTime, #addBreakTime, #subBreakTime {
  margin-top: 15px;
  background: white;
  color: black;
  margin-bottom: 15px;
}
